
body {
  font-family: "jaf-bernino-sans", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.container, .container-fluid, .ui-builder {
  margin-top: 5px;
}

.edit-bar {
    float: right;
}

.btn-circle {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid #ABABAB;
  border-radius: 16px;
  padding-left: 9px;
  padding-top: 5px;
}

.editing div.row {
  background-color: #ddd;
}
